.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
td {
  width: 100px;
  text-align: center;
}
/* .contactCard {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
} */