.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.contactCard {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
}